.background{
    z-index: -1;
    width: 100%;
    position: absolute;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(  rgb(89, 193, 161), rgb(155, 221, 170)); /*Standard*/
    height: 350px;
}
